@import "tailwindcss";

@theme {
  --color-theme-green-lighter: hsl(148, 38%, 91%);
  --color-theme-green-medium: hsl(169, 82%, 27%);
  --color-theme-red: hsl(0, 66%, 54%);
  --color-theme-white: hsl(0, 0%, 100%);
  --color-theme-grey-medium: hsl(186, 15%, 59%);
  --color-theme-grey-darker: hsl(187, 24%, 22%);

  --font-karla: "Karla", "sans-serif";
}
