---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | Contact Form">
  <main class="bg-theme-green-lighter flex h-screen justify-center py-8">
    <div class="bg-theme-white max-w-80 rounded-2xl p-6">
      <h1>Contact Us</h1>
      <form action="">
        <label for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" />
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" />
        <label for="email-address">Email Address</label>
        <input type="text" id="email-address" name="email-address" />
        <fieldset id="query-type">
          <legend>Query Type</legend>
          <label for="general-inquiry"></label>
          <input type="radio" id="general-inquiry" name="type" value="general-inquiry" />
          <label for="support-request"></label>
          <input type="radio" id="support-request" name="type" value="support-request" />
        </fieldset>
        <label for="messsage">Message</label>
        <textarea name="message" id="message"></textarea>
        <input type="checkbox" id="consent" name="consent" />
        <label for="consent">I consent to being contacted by the team</label>
        <button>Submit</button>
      </form>
    </div>
  </main>
</MainLayout>
