---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Frontend Mentor | Contact Form">
  <main class="bg-theme-green-lighter flex min-h-screen justify-center py-8">
    <div class="bg-theme-white min-h-screen max-w-85 rounded-2xl p-6">
      <h1 class="text-theme-grey-darker mb-8 text-3xl font-bold">Contact Us</h1>
      <form action="">
        <div class="flex flex-col">
          <label for="first-name" class="mb-2">First Name</label>
          <input
            type="text"
            id="first-name"
            name="first-name"
            class="border-theme-grey-medium mb-6 rounded-lg border-1 px-4 py-2 hover:cursor-pointer"
            autocomplete="given-name"
          />
        </div>
        <div class="flex flex-col">
          <label for="last-name" class="mb-2">Last Name</label>
          <input
            type="text"
            id="last-name"
            name="last-name"
            class="border-theme-grey-medium mb-6 rounded-lg border-1 px-4 py-2 hover:cursor-pointer"
            autocomplete="family-name"
          />
        </div>
        <div class="flex flex-col">
          <label for="email-address" class="mb-2">Email Address</label>
          <input
            type="text"
            id="email-address"
            name="email-address"
            class="border-theme-grey-medium mb-6 rounded-lg border-1 px-4 py-2 hover:cursor-pointer"
            autocomplete="email"
          />
        </div>
        <fieldset id="query-type" class="mb-7 flex flex-col items-start gap-4">
          <legend class="mb-4">Query Type</legend>
          <div
            class="border-theme-grey-medium flex w-full items-center gap-4 rounded-lg border-1 px-6 py-2.5"
          >
            <input
              type="radio"
              id="general-inquiry"
              name="type"
              value="general-inquiry"
              class="checked:bg-theme-green-medium checked:border-theme-green-medium size-5 appearance-none rounded-full border-2 border-gray-300 hover:cursor-pointer"
            />
            <label for="general-inquiry" class="text-lg">General Inquiry</label>
          </div>
          <div
            class="border-theme-grey-medium flex w-full items-center gap-4 rounded-lg border-1 px-6 py-2.5"
          >
            <input
              type="radio"
              id="support-request"
              name="type"
              value="support-request"
              class="checked:bg-theme-green-medium checked:border-theme-green-medium size-5 appearance-none rounded-full border-2 border-gray-300 hover:cursor-pointer"
            />
            <label for="support-request" class="text-lg">Support Request</label>
          </div>
        </fieldset>
        <div class="flex flex-col">
          <label for="message" class="mb-2">Message</label>
          <textarea
            name="message"
            id="message"
            class="border-theme-grey-medium mb-8 h-60 resize-none rounded-lg border-1 px-4 py-2 hover:cursor-pointer"
          ></textarea>
        </div>
        <div class="mb-10 flex items-center gap-x-5">
          <input
            type="checkbox"
            id="consent"
            name="consent"
            class="border-theme-grey-medium size-5"
          />
          <label for="consent">I consent to being contacted by the team</label>
        </div>
        <button
          class="bg-theme-green-medium text-theme-white hover:bg-theme-grey-darker w-full rounded-lg py-4 text-lg hover:cursor-pointer"
          >Submit</button
        >
      </form>
    </div>
  </main>
</MainLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const radioButtons: NodeListOf<HTMLElement> = document.querySelectorAll("input[type='radio']");
    radioButtons.forEach((radioButton) => {
      radioButton.addEventListener("click", (event) => {
        const target: HTMLElement = event.target as HTMLElement;
        if (target) {
          const parent = document.getElementById(target.id)?.parentElement;
          if (parent) {
            parent.classList.toggle("bg-theme-green-lighter");
            parent.classList.toggle("border-theme-green-medium");
          }
        }
      });
    });
  });
</script>
