---
import type { HTMLAttributes } from "astro/types";
import { slugify } from "@/lib/utils";

interface Props extends HTMLAttributes<"input"> {
  uid: string;
}

const { uid, ...rest } = Astro.props;
---

<label
  for={slugify(uid)}
  class="flex w-full cursor-pointer items-center gap-4 rounded-lg border-1 border-theme-grey-medium px-6 py-2.5"
>
  <div class="relative inline-block">
    <input
      type="radio"
      id={slugify(uid)}
      value={slugify(uid)}
      class="peer absolute cursor-pointer opacity-0"
      {...rest}
    />
    <span
      class="block h-5 w-5 rounded-full border-2 border-gray-300 peer-checked:border-none peer-checked:bg-[url('/icon-radio-selected.svg')] peer-checked:bg-cover peer-checked:bg-center"
    ></span>
  </div>
  <span class="text-lg">
    <slot />
  </span>
</label>
